<main class="fc-main">
    <section class="fc-profile-section">
        <div class="fc-header">
            <h1>Your Profile <mat-icon>person</mat-icon></h1>
        </div>

        <div class="fc-profile-form-container">
            <div class="fc-form-row">
                <mat-form-field appearance="outline" class="fc-profile-field">
                    <mat-label>Name</mat-label>
                    <input matInput readonly disabled [value]="name">
                </mat-form-field>

                <mat-form-field appearance="outline" class="fc-profile-field">
                    <mat-label>Email</mat-label>
                    <input matInput readonly disabled [value]="email">
                </mat-form-field>
            </div>

            <div class="fc-form-actions">
                <button mat-stroked-button class="fc-delete-btn" (click)="deleteAccount()">
                    Delete Account
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </section>
</main>